{
    "do_deterministic": true,
    "do_probabilistic": true,
    "do_tensor": true,
    "freesurfer": "testdata/freesurfer/output",
    "num_fibers": 12500,
    "num_cc_fibers": 2500,
    "prob_curvs": "0.25 0.5 1 2 4",
    "detr_curvs": "0.25 0.5 1 2 4",
    "num_vz_fibers": 1000,
    "num_mt_fibers": 1000,
    "num_or_fibers": 25,
    "dtiinit": "testdata/dtiinit/.",
    "stepsize": 0.2,
    "minlength": 10,
    "maxlength": 200
}

